body {
   /*background-color: #ffffff;*/
   background-image: url(./th.jpg);
    
}
form.ridgeBorder{
	text-align: center;
	font-family: "Verdana", sans-serif;
	font-style: normal;
	border-style: ridge;
	background-image: url(./formbg.jpg);

}
h1.header {
	text-align: center;
	font-size: xx-large;
	font-family: "Verdana", sans-serif;
	color: white;
	font-size: 50px; 
	
}
h2{
	font-family: "Verdana", sans-serif;
}